
<app-header></app-header>

<div class="grid grid-cols-2 gap-4">
    <!--Home-->
    <div class="container mx-auto px-4">
        <div class="block p-8 rounded-lg shadow-lg bg-white max-w-md m-5">
            <form>
                <div class="my-3">
                    <h5 class="text-center text-4xl font-bold text-gray-900 dark:text-dark ">Agregar Tarea</h5>
                </div>
              <div class="form-group mb-6">
                <input #title type="text" class="form-control block
                  w-full
                  px-3
                  py-1.5
                  text-base
                  font-normal
                  text-gray-700
                  bg-white bg-clip-padding
                  border border-solid border-gray-300
                  rounded
                  transition
                  ease-in-out
                  m-0
                  focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput7"
                  placeholder="Ingrese Nombre Tarea">
              </div>
              <div class="form-group mb-6">
                <textarea #description 
                class="
                  form-control
                  block
                  w-full
                  px-3
                  py-1.5
                  text-base
                  font-normal
                  text-gray-700
                  bg-white bg-clip-padding
                  border border-solid border-gray-300
                  rounded
                  transition
                  ease-in-out
                  m-0
                  focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                "
                id="exampleFormControlTextarea13"
                rows="3"
                placeholder="Ingrese Descripción"
              ></textarea>
              </div>
              <button type="button" class="
                w-full
                px-6
                py-2.5
                bg-blue-600
                text-white
                font-medium
                text-xs
                leading-tight
                uppercase
                rounded
                shadow-md
                hover:bg-blue-700 hover:shadow-lg
                focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
                active:bg-blue-800 active:shadow-lg
                transition
                duration-150
                ease-in-out" (click)="obtenerTarea(title.value,description.value)">Guardar</button>
            </form>
          </div>
    </div>


    <!-- Aside -->
    <div>
        <app-aside [tareas]="miLista"></app-aside>
    </div>
</div>


<app-footer></app-footer>